In [1]:
import os
import json
import requests
from dotenv import load_dotenv
import plotly_express as px
load_dotenv()

True

In [2]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)

In [3]:
api_key = os.getenv("API-KEY")
headers = {"Authorization":
           f"Bearer {api_key}"}

In [37]:
r = requests.get("https://lambdaschool.instructure.com/api/v1/accounts/1/users", headers=headers)
r

In [38]:
raw = r.json()
raw

[{'id': 4239,
  'name': 'Gilad Abada',
  'created_at': '2020-12-09T14:20:58-07:00',
  'sortable_name': 'Abada, Gilad',
  'short_name': 'Gilad Abada',
  'sis_user_id': '4c105a1b-ab63-470e-be91-0b712feed716',
  'integration_id': None,
  'sis_import_id': 778,
  'login_id': '4c105a1b-ab63-470e-be91-0b712feed716'},
 {'id': 4547,
  'name': 'Daniel J Abbott',
  'created_at': '2020-12-09T14:21:23-07:00',
  'sortable_name': 'Abbott, Daniel J',
  'short_name': 'Daniel J Abbott',
  'sis_user_id': '5111c17d-3171-429f-b223-39548ffa6e24',
  'integration_id': None,
  'sis_import_id': 778,
  'login_id': '5111c17d-3171-429f-b223-39548ffa6e24'},
 {'id': 2040,
  'name': 'Wayne Abbruscato-Orr',
  'created_at': '2020-09-21T18:52:35-06:00',
  'sortable_name': 'Abbruscato-Orr, Wayne',
  'short_name': 'Wayne Abbruscato-Orr',
  'sis_user_id': '5ee400a7-91d6-48e9-b785-235818cfeea8',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': '5ee400a7-91d6-48e9-b785-235818cfeea8'},
 {'id': 1231,
  'name': 'Adham Abdelfattah',
  'created_at': '2020-09-18T14:46:43-06:00',
  'sortable_name': 'Abdelfattah, Adham',
  'short_name': 'Adham Abdelfattah',
  'sis_user_id': '18135bc6-feb1-4e69-98b5-f7a1edbdece5',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': '18135bc6-feb1-4e69-98b5-f7a1edbdece5'},
 {'id': 4917,
  'name': 'Anas Abdelsalam',
  'created_at': '2021-01-06T11:13:42-07:00',
  'sortable_name': 'Abdelsalam, Anas',
  'short_name': 'Anas Abdelsalam',
  'sis_user_id': 'caeadaa2-ec63-4e83-b0a7-232f8a6009c0',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': 'caeadaa2-ec63-4e83-b0a7-232f8a6009c0'},
 {'id': 1719,
  'name': 'Remon Abdou',
  'created_at': '2020-09-21T18:50:05-06:00',
  'sortable_name': 'Abdou, Remon',
  'short_name': 'Remon Abdou',
  'sis_user_id': '257e24cd-70e4-4d5a-b5cb-75969c200dc9',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': '257e24cd-70e4-4d5a-b5cb-75969c200dc9'},
 {'id': 842,
  'name': 'Yusuf Abdulla',
  'created_at': '2020-08-28T16:47:26-06:00',
  'sortable_name': 'Abdulla, Yusuf',
  'short_name': 'Yusuf Abdulla',
  'sis_user_id': '0aeae043-e234-4e99-ae13-d281c2d05313',
  'integration_id': None,
  'sis_import_id': 248,
  'login_id': '0aeae043-e234-4e99-ae13-d281c2d05313'},
 {'id': 1973,
  'name': 'Jesus Luis Abellan Matilla',
  'created_at': '2020-09-21T18:52:03-06:00',
  'sortable_name': 'Abellan Matilla, Jesus Luis',
  'short_name': 'Jesus Luis Abellan Matilla',
  'sis_user_id': 'e93b8f41-b206-4453-965a-e200a31d1f3d',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': 'e93b8f41-b206-4453-965a-e200a31d1f3d',
  'pronouns': 'He/Him'},
 {'id': 3501,
  'name': 'Paul Abernathy',
  'created_at': '2020-10-27T10:46:54-06:00',
  'sortable_name': 'Abernathy, Paul',
  'short_name': 'Paul Abernathy',
  'sis_user_id': 'e19948fd-624c-4633-a822-7425fb4a86a6',
  'integration_id': None,
  'sis_import_id': 632,
  'login_id': 'e19948fd-624c-4633-a822-7425fb4a86a6'},
 {'id': 1254,
  'name': 'Samuel Aberra',
  'created_at': '2020-09-21T15:58:12-06:00',
  'sortable_name': 'Aberra, Samuel',
  'short_name': 'Samuel Aberra',
  'sis_user_id': '7dcdb4ab-a489-4944-97c2-d0d7ce8fd174',
  'integration_id': None,
  'sis_import_id': None,
  'login_id': '7dcdb4ab-a489-4944-97c2-d0d7ce8fd174'}]

In [11]:
df = pd.DataFrame(raw)

In [13]:
df.head()

,id,name,created_at,sortable_name,short_name,sis_user_id,integration_id,sis_import_id,login_id,pronouns
0,4239,Gilad Abada,2020-12-09T14:20:58-07:00,"Abada, Gilad",Gilad Abada,4c105a1b-ab63-470e-be91-0b712feed716,None,778.0,4c105a1b-ab63-470e-be91-0b712feed716,NaN
1,4547,Daniel J Abbott,2020-12-09T14:21:23-07:00,"Abbott, Daniel J",Daniel J Abbott,5111c17d-3171-429f-b223-39548ffa6e24,None,778.0,5111c17d-3171-429f-b223-39548ffa6e24,NaN
2,2040,Wayne Abbruscato-Orr,2020-09-21T18:52:35-06:00,"Abbruscato-Orr, Wayne",Wayne Abbruscato-Orr,5ee400a7-91d6-48e9-b785-235818cfeea8,None,NaN,5ee400a7-91d6-48e9-b785-235818cfeea8,NaN
3,1231,Adham Abdelfattah,2020-09-18T14:46:43-06:00,"Abdelfattah, Adham",Adham Abdelfattah,18135bc6-feb1-4e69-98b5-f7a1edbdece5,None,NaN,18135bc6-feb1-4e69-98b5-f7a1edbdece5,NaN
4,4917,Anas Abdelsalam,2021-01-06T11:13:42-07:00,"Abdelsalam, Anas",Anas Abdelsalam,caeadaa2-ec63-4e83-b0a7-232f8a6009c0,None,NaN,caeadaa2-ec63-4e83-b0a7-232f8a6009c0,NaN

In [26]:
less_features = df[["id", "name", "sis_user_id"]]
less_features.head()

     id                  name                           sis_user_id
0  4239           Gilad Abada  4c105a1b-ab63-470e-be91-0b712feed716
1  4547       Daniel J Abbott  5111c17d-3171-429f-b223-39548ffa6e24
2  2040  Wayne Abbruscato-Orr  5ee400a7-91d6-48e9-b785-235818cfeea8
3  1231     Adham Abdelfattah  18135bc6-feb1-4e69-98b5-f7a1edbdece5
4  4917       Anas Abdelsalam  caeadaa2-ec63-4e83-b0a7-232f8a6009c0

In [17]:
import sqlite3

conn = sqlite3.Connection("users_db.sqlite3")

In [21]:
create = "CREATE TABLE USERS(ID INT, NAME VARCHAR(250), SIS_USER_ID VARCHAR(1000))"
curs = conn.cursor()

In [22]:
curs.execute(create)

In [27]:
less_features.to_sql("USERS", conn, if_exists="append", index=False)

In [28]:
all_users = "SELECT * FROM USERS"
curs.execute(all_users)
curs.fetchall()

[(4239, 'Gilad Abada', '4c105a1b-ab63-470e-be91-0b712feed716'),
 (4547, 'Daniel J Abbott', '5111c17d-3171-429f-b223-39548ffa6e24'),
 (2040, 'Wayne Abbruscato-Orr', '5ee400a7-91d6-48e9-b785-235818cfeea8'),
 (1231, 'Adham Abdelfattah', '18135bc6-feb1-4e69-98b5-f7a1edbdece5'),
 (4917, 'Anas Abdelsalam', 'caeadaa2-ec63-4e83-b0a7-232f8a6009c0'),
 (1719, 'Remon Abdou', '257e24cd-70e4-4d5a-b5cb-75969c200dc9'),
 (842, 'Yusuf Abdulla', '0aeae043-e234-4e99-ae13-d281c2d05313'),
 (1973, 'Jesus Luis Abellan Matilla', 'e93b8f41-b206-4453-965a-e200a31d1f3d'),
 (3501, 'Paul Abernathy', 'e19948fd-624c-4633-a822-7425fb4a86a6'),
 (1254, 'Samuel Aberra', '7dcdb4ab-a489-4944-97c2-d0d7ce8fd174')]

In [39]:
def get_users():
    data_set = []
    r = requests.get("https://lambdaschool.instructure.com/api/v1/accounts/1/users", headers=headers)

    if "next" in r.links.keys():
        while "next" in r.links.keys():
            r = requests.get(r.links["next"]["url"], headers=headers)
            raw = r.json()
            for user in raw:
                data_set.append(user)
        if "last" in r.links.keys() and r.links['current']['url'] == r.links['last']['url']:
            print('Done!')
    else:
        print("Just one page!")
    return data_set

In [40]:
users_data = get_users()
len(users_data)

Done!

4171

In [41]:
df = pd.DataFrame(users_data)

In [42]:
less_features = df[["id", "name", "sis_user_id"]]
less_features.head()

     id               name                           sis_user_id
0   509  Brian AbeytaPratt  d6eff3b7-a3f2-4565-99af-12c5ec319f39
1  4201     Emily Abrahart  4a862a75-46b1-42d2-87e3-034c476174ce
2  2177       Briana Abreu  90f5cd19-e5a2-4d53-8354-81883420936e
3  1631       Oliver Abreu  7400d44f-78b3-44a4-b76b-cf6a5eef83e3
4  4584  Mohammed Abumtary  8ba8cb69-ac3b-461e-8b54-79782d359678

In [43]:
less_features.to_sql("USERS", conn, if_exists="replace", index=False)

In [47]:
all_users = "SELECT * FROM USERS"
curs.execute(all_users)
#len(curs.fetchall())

In [48]:
users = curs.fetchall()
len(users)

4171

In [49]:
users[0]

(509, 'Brian AbeytaPratt', 'd6eff3b7-a3f2-4565-99af-12c5ec319f39')